

header {
    background-color: #643636; 
    padding: 20px 0; 
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px; 
    margin: 0 auto;
  }
  
  .logo img {
    height: 50px; 
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-links li {
    margin-right: 20px; 
  }
  
  .nav-links li:last-child {
    margin-right: 0; 
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #ffd700; 
  }
  